<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

<div class="chat">
    <form class="chat__write-message" onsubmit="Chat__writeMessage(this); return false;">
        <input type="text" placeholder="작성자" name="writerName">
        <input type="text" placeholder="내용을 입력해주세요." name="body">
        <input type="submit" value="작성">
    </form>

    <div class="chat__message-box">
        <ul class="chat__message-ul">

        </ul>
    </div>
</div>

<script>
    function fetchPost(url, data) {
        return fetch(url, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "Accept": "application/json"
            },
            body: JSON.stringify(data),
        })
            .then(response => response.json())
    }

    function fetchGet(url, data) {
        let query = Object.keys(data)
            .map(k => encodeURIComponent(k) + '=' + encodeURIComponent(data[k]))
            .join('&');

        if (query.length > 0) query = '?' + query;

        return fetch(url + query, {
            method: "GET",
            headers: {
                "Content-Type": "application/json",
                "Accept": "application/json"
            }
        })
            .then(response => response.json())
    }
</script>

<script th:inline="javascript">
    const roomId = /*[[${roomId}]]*/ 0;

    // 채팅 메세지 작성 시작
    function Chat__writeMessage(form) {
        form.writerName.value = form.writerName.value.trim();

        if (form.writerName.value.length == 0) {
            alert("작성자를 입력해주세요.");
            form.writerName.focus();

            return;
        }

        form.body.value = form.body.value.trim();

        if (form.body.value.length == 0) {
            form.body.focus();

            return;
        }

        stompClient.send(`/app/chat/room/${roomId}/message`, {}, JSON.stringify({
            writerName: form.writerName.value,
            body: form.body.value
        }));

        form.body.value = '';
        form.body.focus();
    }

    // 채팅 메세지 작성 끝

    // 채팅 메세지들 읽기 시작
    // 현재 클라이언트가 받은 메세지 번호를 입력해야 합니다.
    // 그래야 메세지 요청시에 필요한 부분만 가져오게 됩니다.
    let Chat__lastLoadedId = 0;

    function Chat__loadMore() {
        fetchGet(`/chat/room/${roomId}/messages/${Chat__lastLoadedId}`, {})
            .then(body => {
                Chat__drawMessages(body.data.messages);
            });
    }

    const Chat__elMessageUl = document.querySelector('.chat__message-ul');

    function Chat__drawMessages(messages) {
        messages.forEach((message) => {
            Chat__drawMessage(message);
        });
    }

    function Chat__drawMessage(message) {
        Chat__lastLoadedId = message.id;

        Chat__elMessageUl
            .insertAdjacentHTML(
                "afterBegin",
                `<li>${message.writerName} : ${message.body}</li>`
            );
    }

    Chat__loadMore();

    const socket = new SockJS('/ws');
    const stompClient = Stomp.over(socket);

    stompClient.connect({}, function (frame) {
        console.log('Connected: ' + frame);

        stompClient.subscribe(`/topic/chat/room/${roomId}/messages`, function (data) {
            const jsonData = JSON.parse(data.body);
            Chat__drawMessage(jsonData.data.message);
        });
    });

    // 채팅 메시지들 읽기 끝
</script>